/* #2B9348, bright green #55A630, lime green #80B918, warm yellow #E9C46A */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #1b1b1b;
}
i {
  pointer-events: none;
  color: #175228;
}
.hidden {
  visibility: hidden;
}
.container {
  max-width: 800px;
  margin: auto;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.audio-recorder,
.audio-player {
  padding: 8px;
  border-radius: 6px;
  background-color: #2b9348;
  background-color: #55a630;
  width: fit-content;
  margin: 24px auto;
  min-width: 300px;
}
.audio-recorder h3,
.audio-player h3 {
  text-align: center;
  color: #ffd877;
}
.timer {
  text-align: center;
  font-weight: 600;
  font-size: 1.34em;
  color: #ffe298;
}
.controls-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
.controls button {
  cursor: pointer;
  background: #ffe298;
  /* background: #80B918; */
  width: 40px;
  height: 40px;
  padding: 8px;
  border: none;
  margin: 4px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
